<config>
    <modules>
        <Bystritsky_Action>
            <version>0.1.0</version>
        </Bystritsky_Action>
    </modules>
    <frontend>
        <routers>
            <bystritsky_action>
                <use>standard</use>
                <args>
                    <module>Bystritsky_Action</module>
                    <frontName>action</frontName>
                </args>
            </bystritsky_action>
        </routers>
        <layout>
            <updates>
                <bystritsky_action>
                    <file>bystritsky_action.xml</file>
                </bystritsky_action>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <bystritsky_action>
                <class>Bystritsky_Action_Model</class>
                <resourceModel>bystritsky_action_resource</resourceModel>
            </bystritsky_action>
            <bystritsky_action_resource>
                <class>Bystritsky_Action_Model_Resource</class>
                <entities>
                    <action>
                        <table>action_actions</table>
                    </action>
                </entities>
            </bystritsky_action_resource>
        </models>
        <resources>
            <action_setup>
                <setup>
                    <module>Bystritsky_Action</module>
                    <class>Bystritsky_Action_Model_Resource_Setup</class>
                </setup>
            </action_setup>
        </resources>
        <blocks>
            <bystritsky_action>
                <class>Bystritsky_Action_Block</class>
            </bystritsky_action>
        </blocks>
    </global>
</config>