.action-actions {
  border: solid;
  border-radius: 3px;
  border-color: silver;
  margin: 10px 20px;
}
.action-entity {
  margin: 10px;
}
.action-title {
  padding: 5px;
}
.action-body {
  padding: 0px 10px 0px;
}
.action-description {

}
.start-end {

}
.action-start {

}
.action-start-datetime {

}
.action-end {

}
.action-end-datetime {

}