.action-actions {
  border: solid;
  border-radius: 3px;
  border-color: silver;
  margin: 10px 20px;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.action-entity {
  height: auto;
  margin: 20px;
}

.action-title {
  padding: 5px 5px 0px;
}

.action-body {
  padding: 0px 10px 0px;
  height: auto;
}

.action-image {
  margin: 10px;
}

.action-image-200px {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

.action-image-300px {
  height: auto;
  width: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  max-height: 300px;
  float: left;
  overflow: hidden;
}

.action-image-view {
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
}

.action-short-description {
  text-align: justify;
  margin: 10px 0px;
}

.action-description {
  text-align: justify;
}

.start-end {

}

.action-start {

}

.action-start-datetime {

}

.action-end {

}

.action-end-datetime {

}
.action-pager {

}
